<ion-grid>
    <ion-row>
        <ion-col size="2" *ngFor="let story of historias; let index = index;">
            <ion-avatar>
                <ion-img id="historia--{{index}}"></ion-img>
                <ion-modal trigger="historia--{{index}}">
                    <ng-template>
                        <ion-grid>
                           <ion-row>
                            <ion-col>
                                <ion-img src="{{story.imagen}}"></ion-img>
                            </ion-col>
                           </ion-row>
                        </ion-grid>
                    </ng-template>
                </ion-modal>
            </ion-avatar>
        </ion-col>
    </ion-row>
</ion-grid>